# Dependencies
node_modules/
.pnpm-store/

# Build & Output
.next/
dist/
build/
out/

# Environment variables
.env
.env.local
.env.*.local
!.env.example

# Logs & Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

#files
**/architecture.md
**/PRD.md
